<h1>
  {{title}}
</h1>


<!--code for ng-content example-->
<!--<first-other>
</first-other>


<first-another>
  <div>
    <h1>Hello!</h1>
    <p>World</p>
  </div>
</first-another>

<first-another>
  <p>Something else</p>
</first-another>-->


<!--<app-databinding> </app-databinding>-->

<button (click)="delete = true">Click to Delete</button>
<button (click)="test = 'Changed value'">Click to Change Content</button>
<button (click)="boundValue = 2000">Click to Change Binding</button>

<!--*ngIf only atach this component to the DOM if delete is not true-->
<app-lifecycle *ngIf="!delete" [bindable]="boundValue">
    <p #boundContent>{{test}}</p>
</app-lifecycle>
