.idea
.idea/Angular-2.0.iml
.idea/modules.xml
.idea/workspace.xml
Routing-Start 2/node_modules/execSync/build/Release/obj.target/
Start/node_modules/execSync/build/Release/obj.target/
Starting-Project/node_modules/execSync/build/Release/obj.target/
