<h1>String Interpolation</h1>
<p>
  {{stringInterpolation}} | {{numberInterpolation}}
</p>
<hr>

<h1>Property Binding</h1>
<input type="text" [value]="stringInterpolation">

<p [ngClass]="{redBorder: onTest()}">Is this styled</p> <!--costum property Binding-->
<p [ngStyle]="{color:'green'}">Is this styled</p>

<h3>Custom Property Binding </h3>
<app-property-binding [resulat]="10"></app-property-binding>
<hr>

<h1>Event Binding</h1>
<!--used this for the Event Binding example-->
<!--<app-event-binding></app-event-binding>-->

<!--$event is our my way to extract data i passed with an event-->
<!--used it for the Binding Custom Events example.-->
<!--<app-event-binding (clicked)="onClicked($event)" ></app-event-binding>-->

<app-event-binding (clickable)="onClicked($event)" ></app-event-binding>

<hr>
<h3>Two Way Binding</h3>
<app-two-way-binding></app-two-way-binding>
<br><br><br><br>

