<div class="container">
    <div class="row">
        <div class="col-xs-10">
            <h1>Hello World!</h1>
            <hr>
            <a [routerLink]="['']">Home</a>
            <!--force change detection using (input)="0"-->
            <input type="text" #id (input)="0">
            <a [routerLink]="['/user', id.value]">User</a>
            <hr>
            <!--Here’s the place where you should render the component which gets loaded my router.-->
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
